.icon.icon-link:before {
    display: inline-block;
    content: url('/anchor.svg');
    width: 32px;
    height: auto;
    margin-left: -32px;
    visibility: hidden;
    /* background: green; */
    vertical-align: middle;
    text-align: center;
    padding-right: 5px;
    color: rgb(75, 113, 202);
}

.icon.icon-link {
    color: rgb(75, 113, 202);
}
.icon.icon-link:hover {
    color: rgb(40, 68, 135);
}

h1:hover > a > .icon.icon-link:before {
    visibility: visible;
}
